/**
 * @author yfmei
 * 2018/7/11
 */
* {
    margin: 0;
    padding: 0;
}

/*html 和 body必需设为一致, 如只设 body{width: 100%} 会出现水平滚动条*/
html body {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    /*设置body text-align: center , 控制文字和button都水平居中*/
}

/*display start*/
.hide {
    display: none
}

.show {
    display: block;
}

.inline {
    display: inline;
}

/*display end*/

/*size start*/
.w20 {
    width: 20%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

.h20 {
    height: 20%;
}

.h40 {
    height: 40%;
}

.h50 {
    height: 50%;
}

.h80 {
    height: 80%;
}

.h100 {
    height: 100%;
}

/*size end*/

/*position start*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/*position end*/

/*message box start*/
.msg-box-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    /*filter:Alpha(opacity=50);*/
    background-color: rgba(0, 0, 0, 0.4); /*实现透明背景*/
}

.msg-box {
    position: absolute;
    z-index: 1;
    /*higher priority than bg*/
}

/*message box edn*/

/*btn start*/
.btn {
    height: 30px;
    width: 60px;
}

/*btn end*/

/*border start*/
.border {
    border: 1px solid;
}

/*border end*/